positive_data/ncbi/ncbi_pos_seqs.fasta filter=lfs diff=lfs merge=lfs -text
positive_data/uniprot/uniprot_pos_seqs.fasta[[:space:]] filter=lfs diff=lfs merge=lfs -text
positive_data/uniprot/uniprot_pos_seqs.fasta filter=lfs diff=lfs merge=lfs -text
